<section class="recent invoices">
    <h2 class="section-title">Recent invoices</h2>
    <div class="recent-invoices__controls">
        <%= link_to "Create invoice", new_project_invoice_path(@project), {class: "button button--filled"} %>
    </div>
    <div class="two-column-grid recent-invoices__list">
    </div>
</section>
