<div class="three-column-grid">

    <main class="span-two-thirds">
        <h1 class="page-title">Editing <%= @project.name %></h1>
        <div class="panel">
            <h3 class="panel__title">About the client</h3>
            <%= render 'form', project: @project %>
            
            <%= link_to 'Show', @project, {class: "inline-interaction"} %>
            
            <%= link_to 'Back', projects_path, {class: "inline-interaction"} %>
        </div>
    </main>

</div>