<div class="three-column-grid">
    <main class="span-two-thirds">
        <h1 class="page-title">Create a new project</h1>
        <div class="panel">
            <h3 class="panel__title">About the client</h3>
            <%= render 'form', project: @project %>
        </div>
    </main>
</div>