$font-stack: 'Work Sans', sans-serif;

// BLUES
$bg: #F2F4F7;
$blue: #4286F5;
// For button gradients
$blue2: #45A4F7;
// For shadows
$shadowBlue: #5D7DB0;

// GREYS
$grey: #2D2D2D;
$grey2: #767676;

// ALERTS
$darkRed: #C16E6E;
$lightRed: #FFF0F0;
$darkGreen: #6EC181;
$lightGreen: #EFFFF2;