.alert{
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: $bg;
    border: 1px solid #9FCCFF;
    color: $grey2;
}

.alert--error{
    background-color: $lightRed;
    border: 1px solid $darkRed;
}

.alert--success{
    background-color: $lightGreen;
    border: 1px solid $darkGreen;
}