@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.dialog{
    background: white;
    width: calc(100% - 60px);
    max-width: 600px;
    margin: 0 30px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 100;
    border-radius: 6px;
    border: none;
    overflow: hidden;
    box-shadow: 0px 4px 3px -1px transparentize($grey,0.8);
    animation: fadeIn 0.1s ease-out;
    @media screen and (min-width: 600px){
        top: 90px;
        margin: 0px auto;
    }
    &::backdrop{
        background: transparentize($grey, 0.25);
        animation: fadeIn 0.2s ease-out;
    }
}

.dialog__body{
    padding: 25px;
    @media screen and (min-width: 600px){
        padding: 40px;
    }
}

.dialog__footer{
    padding: 25px;
    background-color: $bg;
    @media screen and (min-width: 600px){
        padding: 40px;
    }
}

.dialog__close{
    position: absolute;
    right: 25px;
    top: 25px;
    margin: 2px;
    border: none;
    background: none;
    @media screen and (min-width: 600px){
        right: 40px;
        top: 40px;
    }
    img{
        width: 20px;
        height: 20px;
    }
}

.dialog__title{
    margin-bottom: 25px;
}