.form-input{
    width: 100%;
    border: 1px solid transparentize($grey2, 0.5);
    background: none;
    border-radius: 6px;
    font-size: 1em;
    padding: 12px;
    color: $grey;
    display: block;
}

.form-field{
    margin-bottom: 40px;
    @media screen and (min-width: 800px){
        margin-bottom: 50px;
    }
}

.form-label{
    display: inline-block;
    margin-bottom: 7px;
    color: $grey;
}

.form-hint{
    color: $grey2;
    font-size: 0.9em;
    margin-top: 7px;
}

.form-optional{
    text-transform: uppercase;
    font-size: 0.75em;
    float: right;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: white;
    background: transparentize($blue2, 0.15);
    padding: 3px 5px;
    border-radius: 6px;
}