// Index
.recent-projects__project{
    margin-bottom: 15px;
    &:last-of-type{
        margin-bottom: 0px;
    }
}

.recent-projects__name{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.recent-projects__published{
    color: $grey2;
}

// Show
.project-details__summary{
    color: $blue;
    padding: 10px 0px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.project-details{
    display: inline-block;
    margin-bottom: 25px;
    @media screen and (min-width: 800px){
        margin-bottom: 35px;
    }
}