// Index
.recent-projects__project{
    margin-bottom: 15px;
    &:last-of-type{
        margin-bottom: 0px;
    }
}

.recent-projects__controls{
    margin: 20px 0px;
}

.recent-projects__name{
    font-size: 1.3em;
    margin-bottom: 10px;
    @media screen and (min-width: 800px){
        font-size: 1.7em;
    }
}

.recent-projects__published{
    color: $grey2;
    font-size: 0.9em;
    @media screen and (min-width: 800px){
        font-size: 1em;
    }
}

// Show