// Index
.recent-projects{
    padding-top: 40px;
    padding-bottom: 40px;
}

.recent-projects__name{
    font-size: 1.3em;
    margin-bottom: 10px;
}

.recent-projects__published{
    color: $grey2;
}

// New
.new-project{
    padding-top: 40px;
    padding-bottom: 40px;
}