<header class="site-header">
    <div class="container">
        <%= link_to(root_path) do %>
            <img src="/logo.svg" alt="Sellsword">
            <h1>Sellsword</h1>
        <% end %>
    </div>
</header>